<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>119798842038-53hili531m7m58i0p14dnob511sirmlk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.119798842038-53hili531m7m58i0p14dnob511sirmlk</string>
	<key>API_KEY</key>
	<string>AIzaSyCqJaMr5YcOG32BHOe6VZJvSz73jM4xq-E</string>
	<key>GCM_SENDER_ID</key>
	<string>119798842038</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bmcgowan94.feedly</string>
	<key>PROJECT_ID</key>
	<string>feedlyapp-4109f</string>
	<key>STORAGE_BUCKET</key>
	<string>feedlyapp-4109f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:119798842038:ios:27d1701f1efaba18</string>
	<key>DATABASE_URL</key>
	<string>https://feedlyapp-4109f.firebaseio.com</string>
</dict>
</plist>