page-feed {

    .rowStyle
    {
        border: solid map-get($colors, tatYou_primary) 1px;
        border-radius: 30px;
        margin-top: 10px;

        ion-input {
            margin-top: 5px;
        }
    }

    .bottom-bar
    {
        background-color: map-get($colors , semi-light );

        .border-right{
            border-right: 1px solid map-get($colors , light );
        }
    }

    .round-corners
    {
        border-radius: 24px;
    }

    .tatYou_secondary
    {
        background-color: #E6E6FA
    }

    .ion-card
    {
        padding-top: 50px;
    }
}
